@{
    ViewData["Title"] = "Index";
}

<h2>Adress Book</h2>
<a class="nav-link text-dark" asp-area="" asp-controller="Workplaces">Вход</a>

@*<p>Тут будет адресная книга для удаленного подключения к сотрудникам</p>*@ 